<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<httpErrors errorMode="Detailed"></httpErrors>
		<rewrite>
			<rules>
				<rule name="css-js-versioning" stopProcessing="true">
					<match url="^(.*)\.[\d]{10}\.(css|js)$"  />
					<action type="Rewrite" url="{R:1}.{R:2}"  />
				</rule>
				<rule name="Index">
					<match url="^(.*)$" />
					<conditions> 
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="index.php/{R:1}" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>